---
import ProjectCard from "./ProjectCard.astro";
import Container from "../Container.astro";
import previewAker from "../../assets/preview-akercontrol.png";
import previewDMakers from "../../assets/preview-dmakers.png";
import previewCanndeBlanco from "../../assets/preview-canndeblanco.png";

---

<Container>
	<main class="grid md:grid-cols-2 gap-8 items-start">
		<ProjectCard
			urlImage={previewAker}
			title="Aker"
			link="https://akercontrol.com/"
			description="Landing realizada para la empresa de monitoreo satelital Aker Control."
			tools={["Svelte"]}
		/>
		<ProjectCard
			urlImage={previewDMakers}
			title="DMakers"
			link="https://d-makers.com/"
			description="Landing realizada para la empresa de asesoramiento y estrategias digitales DMakers."
			tools={["SvelteKit (Static Site Generation)"]}
		/>
		<!-- <ProjectCard
			urlImage={previewCanndeBlanco}
			title="Cannde Blanco"
			link="https://canndeblanco.com.ar/"
			description="Sitio web para la influencer @CanndeBlanco, cuenta con múltiples páginas, carrito de compras y pasarela de pagos (Argentina)."
			tools={["SvelteKit (node adapter)", "TailwindCSS", "MercadoPago API", "Drizzle", "SQLite"]}
		/> -->
	</main>
</Container>