---
import MainLayout from "../layout/MainLayout.astro";
import Hero from "../components/Home/Hero.astro";
import ListExperience from "../components/Home/ListExperience.astro";
import Contact from "../components/Home/Contact.astro"
---

<MainLayout>
	<Hero>
		<!-- Hi, i am Jorge, software developer for almost 4 years, i consider a t shaped full stack developer with orientation in frontend skills. 
		In my carreer i worked whit api integrations, designed data base structures, managed headless cms and even develop websocket services. 
		I working on a small startup improovment their B2B products, whit SAP integrations and in my free time help people develop their little business doing freelance services. 
		My professional goal is improve the life of the people whit better apps who solve the day to day or improve existing process. -->
		<p>
			Hi, I am Jorge, software developer for almost 4 years, I consider a T-shaped full stack developer with a focus on frontend skills.
		</p>
		<p class="mt-8">
			In my career I've worked with api integrations, designed data base structures, managed headless cms and even developed websocket services. 
			I'm working on a small startup improvment their B2B products, 
			with SAP integrations and in my free time help small businesses grow doing freelance services.
		</p>
		<p class="mt-8">
			My professional goal is improve the life of the people whit better apps who solve the day to day issues or improve existing process.
		</p>
	</Hero>
	<ListExperience/>
	<Contact />
</MainLayout>
