---
import MainLayout from "../layout/MainLayout.astro";
import Hero from "../components/Home/Hero.astro";
import ListExperience from "../components/Home/ListExperience.astro";
import Contact from "../components/Home/Contact.astro"
---

<MainLayout>
	<Hero>
		<p>
			Hello good! My name is Jorge Albarracín, many know me as Coco. Start of programming
			since high school making mods for the video game Hearts of Iron IV 🤓.
		</p>
		<p class="mt-8">
			Since then my curiosity and learning has not stopped and today I have 
			even lead development teams.
		</p>
		<p class="mt-8">
			My strength is web analysis and development (both frontend and backend) and I have worked
			with clients in a freelance capacity and with creative agencies in conjunction with international clients.
		</p>
	</Hero>
	<ListExperience/>
	<Contact />
</MainLayout>
