---
import MainLayout from "../layout/MainLayout.astro";
import Hero from "../components/Home/Hero.astro";
import Experience from "../components/Home/Experience.astro";
import aenimaLogo from "../assets/aenima-logo.png"
import coderhouseLogo from "../assets/coderhouse-logo.png"
---

<MainLayout>
	<Hero />
	<section class="flex flex-col gap-8 justify-center max-w-lg mx-auto mb-12">
		<Experience
			company="Aenima Agency"
			years="Septiembre 2021 - present"
			role="Desarrollador Full Stack"
			description="Desarrollé sitios web en PHP y mantuve sitios y migraciones en Wordpress. Luego transicione al stack MERN y actualmente utilizo React, TypeScript y Node.js en mi día a día."
			icon={aenimaLogo}	
		/>
		<Experience
			company="Aenima Agency"
			years="Mayo 2023 - Presente"
			role="Líder Técnico IT"
			description="Gestiono y coordino al equipo de desarrollo, también participo en estrategias con otras áreas de la empresa y colaboro con los nuevos proyectos aportando soluciones a los clientes."
			icon={aenimaLogo}	
		/>
		<Experience
			company="Coder House"
			years="Diciembre 2022 - Junio 2023"
			role="Tutor - Programación Backend"
			description="Participé en las mentorías de los alumnos de la comisión donde trabajé. Asistí a los alumnos con las dudas que tenían, impulsandolos y motivandolos durante el cursado."
			icon={coderhouseLogo}	
		/>
		<Experience
			company="Freelance"
			years="Enero 2021 - Presente"
			description="Desde segundo año de unviersidad comencé a trabajar como desarrollador independiente, realizando desde SPA hasta E-Commerce (mi herramienta favorita para desarrollar es Svelte 🙂)"
		/>
	</section>
</MainLayout>
