---
import MainLayout from "../layout/MainLayout.astro";
import ListResources from "../components/Resources/ListResources.astro";
---

<MainLayout>
	<p class="text-center my-12 mx-16 md:mx-auto">Here I usually leave some tools, libraries and items that I use daily. 📚.</p>
	<ListResources/>
</MainLayout>