---
import Container from "../Container.astro";
import Avatar from "../Avatar.astro";

const gitHubAvatar = "https://avatars.githubusercontent.com/u/78957607?v=4"
---

<Container classTailwind="flex flex-col justify-evenly mx-4 md:mx-auto" name="Pakito">
    <div class="flex flex-row gap-6 sm:gap-0 sm:justify-evenly ">        
        <div>
            <h1 class="text-3xl md:text-4xl xl:text-5xl font-bold dark:text-slate-100 ">JORGE ALBARRACÍN</h1>
            <h2 class="text-xl md:text-2xl xl:text-3xl dark:text-slate-100">Full Stack Developer</h2>
        </div>
        <img
            src={gitHubAvatar}
            alt=""
            class="rounded-full shadow-lg dark:shadow-slate-700 w-24 h-24 md:w-32 md:h-32 xl:w-48 xl:h-48"
        />
    </div>
    <div class="flex justify-evenly mt-12 xl:mt-24 items-end">
        <div class="hidden md:block">
            <Avatar/>
        </div>
        <article class="sm:w-3/4 md:max-w-prose text-sm md:text-base xl:text-lg">
           <slot/>
        </article>
    </div>
</Container>

<style>
  h1{
    font-family: 'Nothing You Could Do', cursive;;
  }
</style>
