---
import Container from "../Container.astro";
---

<Container classTailwind="flex justify-evenly" name="Pakito">
    <div>
        <h1 class="text-6xl font-bold dark:text-slate-100">JORGE ALBARRACÍN</h1>
        <h2 class="text-4xl dark:text-slate-100">Full stack developer</h2>
    </div>
    <img
        src="https://avatars.githubusercontent.com/u/78957607?v=4"
        alt=""
        class="rounded-full shadow-xl w-36 h-36 xl:w-48 xl:h-48"
    />
</Container>
