---
import Experience from "./Experience.astro";
import aenimaLogo from "../../assets/aenima-logo.png"
import troupperLogo from "../../assets/troupper-logo.jpeg"
import coderhouseLogo from "../../assets/coderhouse-logo.png"
---
<section class="flex flex-col gap-8 justify-center max-w-xl mx-auto mb-12">
	<Experience
		company="Troupper"
		years="March 2024 - Present"
		role="Senior Fullstack Developer"
		description="I am part of the Hubpper development team, overseeing the orderly and scalable development of new features. I collaborate with the review of clean code and participate in the analysis and scope of new requirements."
		icon={troupperLogo}	
	/>
	<Experience
		company="Aenima Agency"
		years="May 2023 - February 2024"
		role="Technical Lead IT"
		description="Manage and coordinate the development team, also participate in strategies with other areas of the company and collaborate with new projects by providing solutions to clients."
		icon={aenimaLogo}	
	/>
	<Experience
		company="Coder House"
		years="December 2022 - June 2023"
		role="Mentor - Backend programming course"
		description="I participated in the mentoring of the students of the commission where I worked. I assisted the students with the doubts they had, encouraging and motivating them during the course."
		icon={coderhouseLogo}	
	/>
	<Experience
		company="Aenima Agency"
		years="September 2021 - February 2024"
		role="Fullstack Developer"
		description="I started developing websites in PHP, maintained sites and migrations in Wordpress and managed MySQL databases. I then transitioned to the MERN stack and currently use React, TypeScript and Node.js in my daily life."
		icon={aenimaLogo}	
	/>
	<Experience
		company="Freelance"
		years="Janiuary 2021 - Present"
		description="Since the second year of university I started working as an independent developer, doing everything from SPA to E-Commerce (one of my favorite tools to develop is Svelte ðŸ˜)"
	/>
</section>