---

---
<div
  data-css-peeps="short5 smile goatee2 sweater-crossed"
	class="-left-8 md:left-0"
></div>

<style>
	@import url(https://unpkg.com/css-peeps@1/css-peeps.compat.css);

	div {
		--peep-skin-color: #ecbca7;
		--peep-clothes-color: #94a3b8;

		display: inline-block;
		width: 300px;
		height: 230px;
	}
</style>