<section id="about" class="h-screen bg-linear-to-b from-neutral-900 to-neutral-950 relative z-0 flex flex-col md:flex-row justify-center snap-center font-mono">
	<div class="w-1/2 flex items-center">
    <p class="italic text-lg md:text-2xl px-4 md:px-12">I'm worked with:</p>
  </div>
  <div class="w-1/2 bg-indigo-500">
    <img src="" alt="">
  </div>
</section>