---
import ResourceCard from "./ResourceCard.astro";
import Container from "../Container.astro";
---

<Container>
	<div class="grid md:grid-cols-2 gap-8 justify-items-center">
		<ResourceCard
		title="Squoosh"
		urlResource="https://squoosh.app/"
		imageResource="https://squoosh.app/c/favicon-c9cf50ef.ico"
		description="Sitio web para optimizar imagenes reduciendo su tamaño sin perder calidad 📷."
		/>
		<ResourceCard
		title="AdventJS"
		urlResource="https://adventjs.dev/"
		imageResource="https://adventjs.dev/favicon-96x96.png"
		description="Sitio web para practicar catas, cada año en diciembre lanzan nuevos desafios para pulir resolución de problemas y algoritmos."
		/>
		<ResourceCard
		title="Free Programming Books"
		urlResource="https://goalkicker.com/"
		imageResource=""
		description="Este sitio cuenta con muchos libros de estudio de múltiples lenguajes y tecnologías 📕. Sin embargo considero algunos libros en particular un poco antiguos o desactualizados."
		/>
		<ResourceCard
		title="Radix UI"
		urlResource="https://www.radix-ui.com/"
		imageResource="https://www.radix-ui.com/favicon.png"
		description="Libreria UI para componentes en React."
		/>
		<ResourceCard
		title="DB Diagram"
		urlResource="https://dbdiagram.io/"
		imageResource="https://cdn.holistics.io/logo-dbdiagram-notext.ico"
		description="Herramienta para diagramar bases de datos relacionales 📈."
		/>
		<ResourceCard
		title="Shadcn UI"
		urlResource="https://ui.shadcn.com/docs"
		imageResource="https://ui.shadcn.com/favicon.ico"
		description="Otra libería UI para componentes en React, también con soporte en Svelte ✨."
		/>
		<ResourceCard
		title="UIverse"
		urlResource="https://uiverse.io/"
		imageResource="https://uiverse.io/favicon-32x32.png"
		description="Sitio lleno de elementos UI para cualquier proyecto."
		/>
		<ResourceCard
		title="JSON Data AI"
		urlResource="https://www.jsondataai.com/"
		imageResource="https://www.jsondataai.com/favicon.ico"
		description="Este sitio web ayuda a generar contenido JSON en base a los requisitos solicitados, muy útil para generar mocks."
		/>
		<ResourceCard
		title="You might not need jQuery"
		urlResource="https://youmightnotneedjquery.com/"
		imageResource=""
		description="Sitio web con alternativas prácticas a jQuery 😮."
		/>
		<ResourceCard
		title="Bundle Phobia"
		urlResource="https://bundlephobia.com/"
		imageResource=""
		description="Encuentra paquetes npm y devuelve el peso de dicha libreria, útil para fines de performance."
		/>
	</div>
</Container>