---
import ResourceCard from "./ResourceCard.astro";
import Container from "../Container.astro";

import ResourceList from "./resources.ts";
---

<Container>
	<div class="grid md:grid-cols-2 gap-8 justify-items-center">
		{ResourceList.map((resource)=>(
			<ResourceCard
				title={resource.title}
				urlResource={resource.urlResource}
				imageResource={resource.imageResource}
				description={resource.description}
			/>
		))}
	</div>
</Container>