---
import MainLayout from "../../layout/MainLayout.astro";
import Hero from "../../components/Home/Hero.astro";
import ListExperience from "../../components/Home/ListExperience.astro";
import Contact from "../../components/Home/Contact.astro"
---

<MainLayout>
	<Hero>
		<p>
			Buenas! Mi nombre es Jorge Albarracín, muchos me conocen como Coco. Inicié en la programación
			desde el colegio secundario realizando mods para el videojuego Hearts of Iron IV 🤓.
		</p>
		<p class="mt-8">
			Desde entonces mi curiosidad y aprendizaje no ha parado y hoy en día he 
			llegado incluso a liderar equipos de desarrollo.
		</p>
		<p class="mt-8">
			Mi fuerte es el análisis y desarrollo web (tanto frontend como backend) y he trabajado
			con clientes en calidad freelance y con agencias creativas en conjunto con clientes internacionales.
		</p>
	</Hero>
	<ListExperience/>
	<Contact />
</MainLayout>
