---
import MainLayout from "../../layout/MainLayout.astro";
import ProjectList from "../../components/Projects/ListProject.astro";
---

<MainLayout>
	<h1 class="text-center mt-12">
		Algunos proyectos que he desarrollado de forma freelance 🤓
	</h1>
	<ProjectList/>
</MainLayout>