---
import SocialMedia from "../components/Layout/SocialMedia.astro";
import linkedInLogo from "../assets/linkedin.svg";
import gitHubLogo from "../assets/github.svg";

const linkedin = "https://www.linkedin.com/in/jorge-albarracin/";
const github = "https://github.com/albarracin-jorge";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="JAlbarracín | Desarrollador Full Stack" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://jalbarracin.dev" />
		<meta property="og:description" content="Bienvenido a mi sitio web, aquí encontraras información sobre mi carrerra profesional." />
	
		<meta property="og:image" content="https://jalbarracin.dev/jalbarracin-website-social.png" />
	
		<meta property="og:image:alt" content="JAlbarracín | Desarrollador Full Stack" />
		<link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
		<title>JAlbarracin | Full Stack Developer</title>
	</head>
	<body class="bg-slate-200 dark:bg-slate-900 dark:text-slate-100">
		<header
			class="h-16 xl:h-20 shadow-xl bg-slate-300 dark:bg-slate-950"
		>	
			<div class="mx-auto md:w-[60vw] md:mx-[20vw] pt-3 lg:pt-4 flex justify-around items-center">
				<div class="flex items-center gap-4">
					<a href="/" class="dark:text-slate-100 text-2xl md:text-4xl hover:border-b-[1px] hover:mb-[-1px] hover:border-zinc-900 dark:hover:border-slate-100">jalbarracin.dev</a>
					<div>
						<a class="hover:border-b-[1px] hover:border-zinc-900 dark:hover:border-slate-100 md:mx-1 text-sm md:text-base" href="/projects">Proyectos</a>
						<a class="hover:border-b-[1px] hover:border-zinc-900 dark:hover:border-slate-100 md:mx-1 text-sm md:text-base" href="/resources">Recursos</a>
					</div>
				</div>
				<SocialMedia 
					linkedin={linkedin}
					github={github}
					linkedInLogo={linkedInLogo}
					gitHubLogo={gitHubLogo}
				/>
			</div>
		</header>
		<main class="">
			<div class="rounded-md m-3 border-2 border-slate-950 bg-slate-500">
				<div class="pulse"></div>
			</div>
			<div class=""><slot /></div>
			<div class="rounded-md m-3 border-2 border-slate-950"></div>
		</main>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

	body {
		font-family:'Open Sans', sans-serif;
	}

	main{
		display: grid;
		grid-template-columns: .3fr 1fr .3fr;
	}
	.pulse{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: aquamarine;
		transition: background .5s, scale 2s;
		/* loop transition */
		animation: pulse 2s infinite;
	}

	.pulse:hover{
		scale: 1.5;
		background: gold;
	}
</style>
