---
import Media from "../components/Layout/Media.astro";

import linkedInLogo from "../assets/linkedin.svg";
import gitHubLogo from "../assets/github.svg";

const linkedin = "https://www.linkedin.com/in/jorge-albarracin/";
const github = "https://github.com/albarracin-jorge";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JAlbarracin | Full Stack Developer</title>
	</head>
	<body class="bg-stone-200 dark:bg-zinc-900 dark:text-slate-100">
		<header
			class="h-16 xl:h-20 shadow-xl bg-stone-300 dark:bg-zinc-800 flex justify-around items-center"
		>
			<h3 class="dark:text-slate-100 text-xl">jalbarracin.dev</h3>
			<Media 
				linkedin={linkedin}
				github={github}
				linkedInLogo={linkedInLogo}
				gitHubLogo={gitHubLogo}
			/>
		</header>
		<div class="mx-12">
			<slot />
		</div>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');

	body {
		font-family:'Source Serif 4', serif;

	}
</style>
